<!-- form withでフォームをした場合デフォルトでjsファイルを探しに行く -->
<%= form_with(model: [book, comment] ) do |f| %>
  <%= f.text_area :comment, row:'5', class: "form-control", placeholder: "コメントはここに" %>
    <div class = "float-xs-right" >
      <%= f.submit 'Create comment', name:"comment", class: "btn-btn-primary col-xs-3" %>
    </div>
<% end %>
